<%- include('layouts/head.ejs') %>
<%- include('layouts/nav.ejs') %>
<link rel="stylesheet" href="/style/product.css">

    <main>
        <h1>Page not Found!!</h1>
    </main>
<%- include('layouts/foot.ejs') %>