<%- include('layouts/head.ejs') %>
<%- include('layouts/nav.ejs') %>
<link rel="stylesheet" href="/style/product.css">

<main>
    <h1>Some error occurred!</h1>
    <p> Sorry for the inconvenience, we're working on it :( </p>
</main>
<%- include('layouts/foot.ejs') %>