<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/style/shop.css">
    <link rel="stylesheet" href="/style/product.css">
</head>
<body>
    <header class = "main-header">
        <nav class= "main-header_nav">
            <ul class="main-header_item-list">
                <li class = "main-header_item">
                    <a class="active" href = "/"> Shop</a>
                </li>
                <li class = "main-header_item">
                    <a href="/admin/addproduct"> Add a Product</a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <div class = "grid">
            <article class="card_product_item">
                <header class="card_header">
                    <h1 class="product_title"> Great Book </h1>
                </header>
                <div class="card_product_image">
                    <img src="/images/Book.png" alt="Book Image">
                </div>
                <div class="card_product_content">
                    <h2 class="product_price"> Rs 99 </h2>
                    <p class="product_description"> Interesting Book </p>
                </div>
                <div class="card_actions">
                    <button class="btn"> Add to Cart </button>
                </div>
            </article>
        </div>
    </main>
</body>
</html>